.banner
    margin: 1em 0
    padding: 3em 4em 10em 3em
    border-radius: $mainRadius
    font-size: 2em
    font-weight: bold
    position: relative
    background-image: url(../images/modded.jpg)
    background-size: 100%
    background-position: center

    .name
        text-shadow: $textShadow
        color: white
        z-index: 1

        .icon
            filter: drop-shadow($textShadow)
        svg
            float: left
            margin-right: 10px
