.banner
    margin: 2em
    padding: 4em 4em 10em 3em
    border-radius: $mainRadius
    font-size: 2em
    font-weight: bold
    position: relative
    background-image: url(../images/michael-baron-YQSXw2YVqyU-unsplash.jpg)
    background-size: 100%
    background-position: center

    .name
        text-shadow: $textShadow
        z-index: 1

        .icon
            filter: drop-shadow($textShadow)
        svg
            float: left
            margin-right: 10px
